.cars{
    background-color: #1100ff;
    padding: 20px;
    margin: 20px;
    text-align: center;
}
.fruits{
    background-color: aqua;
    padding: 20px;
    margin: 20px;
    text-align: center;
}
#wanafunzi{
    text-align: center;
    background-color: #51ee51;

}
#myimage{
    background-color: red;
    padding: 20px;
    margin: 20px;

}